*
{
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi', serif;
}

.mainImg{
    width: 100vw;
    height: 100vh;
    background-image: url(../../asset/img/mt.jpg);
}

.mainImg span:nth-child(2){
    font-size:1rem;
    writing-mode: vertical-rl;
    position: absolute;
    top: 4%;
    right: 35%;
}

.mainImg span:nth-child(1){
    font-size: 1rem;
    position: absolute;
    top: 3%;
    left: 28%;
}

.mainImg span{
    font-size: 8rem;
    color: rgb(16,69,83);
    position: relative;
    left: 35rem;
    top: 15rem;
}

.AboutMe{
    width: 100vw;
    height: 100vh;
}


.Square{
    width: 700px;
    height: 500px;
    position: relative;
    top: 50%;
    left:0px;
    transform: translateY(-50%);
    background-color: rgba(24, 100, 121, 0.411);
    z-index: -1;
}

.Square img{
    width: 340px;
    position: absolute;
    top: 45%;
    right: -10%;
    transform: translateY(-50%);
    z-index: 1;
}

.Square span:nth-child(1){
    font-size: 4rem;
    position: absolute;
    right: -3%;
    top: -2.3rem;
    font-weight: 500; 
    color: rgb(16,69,83);
}

.Square span:nth-child(2){
    position: absolute;
    font-size: 1.4rem;
    top: 15%;
    right: -4.5rem;
    z-index: 2;
    writing-mode: vertical-rl;
}

.Skills{
    width: 100vw;
    height: 90vh;
}

.skillbox{
    width: 100%;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillbox img{
    width: 150px;
    margin: 12px;
}

.Skills span{
    position: relative;
    top: 40px;
    left: 35%;
    font-size: 150px;
}