.footerDiv{
    width: 100vw;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerDiv span{
    color: black;
    padding: 12px;
}

.footerDiv a img{
    width: 30px;
    margin: 12px;
}