*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
}

.navigation{
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: 20px;
    width: 300px;
    box-sizing: initial;
    box-shadow: -5px 0 5px 2px  #3b49dd85;
    background-color: #9ba2f8;
    transition: width 0.5s;
}

.navigation ul li{
    list-style: none;
}


.icon{
    width: 25px;
    padding-right: 5px;
}

.title{
    font-size: 25px;
    position: relative;
    left: 50px;
    color: black;
}

.list{
    margin: 30px;
    cursor: pointer;
}
