*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


.navBar{
    padding: 12px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9ba2f8;
}

.appleImg{
    width: 50px;
}

.menuImg{
    width: 20px;
    cursor: pointer;
}
